DATABASE_URL=""
PORT=3001
FRONTEND_URL="http://localhost:3000"
JWT_SECRET=""
JWT_EXPIRES_IN="15m"
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""
GOOGLE_REFRESH_TOKEN=""
GOOGLE_DRIVE_ROOT_FOLDER_ID=""